<!DOCTYPE html>
<html>
<head>
        <title>About</title>
<link rel="icon" href="/image/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
      <div class="main-content"> {{>header}}
    {{!-- <h2>{{title}}</h2> --}}

    <img src="/image/WhatsApp Image 2021-04-02 at 10.48.14 AM.jpg" >
    <p>Created by: {{name}}</p>
    </div>
</body>
 {{>footer}}
</html>