<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
<link rel="icon" href="/image/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
   <div class="main-content"> {{>header}}
    {{!-- <h2>{{title}}</h2> --}}
    <p>{{helpText}}</p>
    </div>
</body>  
 {{>footer}}
</html>